:root {
    --tx-xs: 1.2rem;
    --tx-sm: 1.6rem;
    --tx-md: 2rem;
    --tx-lg: 2.4rem;
    --tx-xl: 2.8rem;
    --tx-xxl: 3.6rem;
}

.tx-xs {
    font-size: var(--tx-xs);
}
.tx-sm {
    font-size: var(--tx-sm);
}
.tx-md {
    font-size: var(--tx-md);
}
.tx-lg {
    font-size: var(--tx-lg);
}
.tx-xl {
    font-size: var(--tx-xl);
}
.tx-xxl {
    font-size: var(--tx-xxl);
}

.tx-bold {
    font-weight: 700
}
.tx-light {
    font-weight: 200;
}