
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.wd-1280 {
    width: 1280px;
    margin: auto;
}

.wd-1of2 {
    width: 50%;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    display: inline-block;
    margin-right: 20px;
}

form {
    width: 100%;
    /* border: 1px solid red; */
    clear: both;
}

form > section {
    float: left;
}

fieldset {
    border: none;
    background:rgba(240, 240, 240, 1);
    padding: 12px 16px;
    margin: 20px 0;
    border-radius: 5px;
}

fieldset label {
    margin-right: 20px;
}

.row {
    display: block;
}

.btn {
    padding: 15px;
    background: rgba(150, 215,150, 1);
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background: rgba(100, 215,100, 1);
}

.txt-warning {
    background: rgba(255, 200, 200, .7);
}
.txt-warning:hover {
    background: rgba(255, 150, 200, .7);
}